<!doctype html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examen API Node+AngularJS+GULP</title>
    <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://temple-orange.codio.io/hericku/public/img/mantis.png" />

    <style>
        body {
            background-image: url('http://subtlepatterns.com/patterns/geometry2.png');
        }
    </style>

</head>

<body ng-app='appLearn'>
    
    <div class="container" ng-controller="ProductesController">
        <br/>
        <br/>
        <br/>
        <br/>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                Llista de Productes
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="inputDefault">Darrer productes</label>
                            <input type="text" class="form-control" id="inputDefault" ng-model="codi">
                            <input type="text" class="form-control" id="inputDefault" ng-model="nom">
                            <input type="text" class="form-control" id="inputDefault" ng-model="seccio">
                            <input type="text" class="form-control" id="inputDefault" ng-model="preu">
                            <br/>
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-default" ng-click="afegirProducte()">Afegir Producte</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-8">
                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="producte in productes | orderBy:'-date'">
                                <h4 class="list-group-item-heading">{{producte.nom}}</h4>
                                <p class="list-group-item-text"><strong>Seccio: </strong>{{producte.seccio}}</p>
                                <p class="list-group-item-text"><strong>Preu: </strong>{{producte.preu}}</p>
                                <a class="btn btn-success btn-xs" ng-click="editarProducte()">Editar</a>
                                <a class="btn btn-danger btn-xs" ng-click="esborrarProducte()">Esborrar</a>
                            </a>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>